
    <!--PRACTICA 05 INTERPOLACION-->

    <div class="container mt-4">
      
      <div class="row">
        <h1>Mi nombre es: <strong>{{nombre}}</strong> </h1>  <!--Nombre esta en HARDCODE
          -- harcodeado
        -->
      </div>

      <div class="row">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Datos Importantes</h5>
            <p class="card-text">Para la <strong>Interpolación</strong> de Datos 
            debemos declarar las variables en el Código Funcional del Componente 
            <strong>(.js)</strong> y referenciarlo en el Código Estructural
            <strong>(.html)</strong> utilizando doble llave (curly bracers) 
            <strong>{{'{{'+'nombreVAriable'+'}}'}}</strong>.</p>
            <a href="#" routerLink="/practica04" class="card-link" >Practica anterior</a>
            <a href="#" routerLink="/practica6"  class="card-link" >Practica siguiente</a>
            
          </div>
        </div>
      </div>
    </div>

    <style>
      .card{
        border-color: brown;
      }
    </style>