<div class="container" style="height: 140vh; overflow-y: auto;">
    <div class="card-group">
      <div class="card">
        <img src="../../assets/imgs/Scketch/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">1. Landing Page</h5>
          <p class="card-text">Página principal que se mostrará a todos los usuarios al entrar a la página, capta
            la
            atención de los usuarios y los anima a contratar algun tipo de servicio.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ver imagen
          </button>
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="row">
            <div>
              <img src="../../assets/imgs/Scketch/1.jpg" alt="..." class="P1Modal" />
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/Scketch/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">2. Servicio in Situ</h5>
          <p class="card-text">Esta página mostrará el tipo de servicio y dirección de donde se hará el servicio,
            es decir
            será en el lugar que el usuario desee.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal1" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/2.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/Scketch/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">3. Servicio es sucursal</h5>
          <p class="card-text">En este apartado se solicita un tipo de servicio y elige el lugar a donde irá, es
            decir el
            usuario escogerá el lugar donde tomará el servicio.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal2" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/3.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card-group">
      <div class="card">
        <img src="../../assets/imgs/Scketch/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">4. Ayuda</h5>
          <p class="card-text">Para esta página se le ofrece al usuario o epresa una serie de opciones con las que
            cuenta
            para pedir ayuda a Agéndalo.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal3" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/4.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/Scketch/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">5. Seguridad</h5>
          <p class="card-text">Esta página se encarga de exponer las diferentes medidas de seguridad que se toman
            para
            resguardar la información obtenida en esta plataforma.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal4">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal4" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/5.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/Scketch/6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">6. ¿Quiénes somos?</h5>
          <p class="card-text">En este apartado se explica lo que es Agéndalo, de donde surge, lo que esta
            comprometido a
            hacer, misión, visión y todo lo que la hace única.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal5">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal5" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/6.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card-group">
      <div class="card">
        <img src="../../assets/imgs/Scketch/7.1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">7.1. Login (cliente)</h5>
          <p class="card-text">Esta página se mostrará para que el usuario pueda acceder a su cuenta o decida
            solicitar un
            servicio, le mostrará un formulario que llenar para validar sus datos.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal6">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal6" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/7.1.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/Scketch/7.2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">7.2. Login (empresa)</h5>
          <p class="card-text">Esta página se mostrará para que la empresa pueda acceder a su cuenta o decida
            solicitar un
            servicio, le mostrará un formulario que llenar para validar sus datos.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal7">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal7" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/7.2.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/Scketch/8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">8. información para el cliente</h5>
          <p class="card-text">Esta página carga información de uso para el cliente, aquí se explica ciertos
            criterios y
            formas deusar eficientemente la página.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal8">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal8" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/8.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card-group">
      <div class="card">
        <img src="../../assets/imgs/Scketch/9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">9. información para la empresa</h5>
          <p class="card-text">Esta página carga información de uso para la empresa, aquí se explica ciertos
            criterios y
            formas deusar eficientemente la página.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal9">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal9" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/9.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/Scketch/10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Políticas y términos</h5>
          <p class="card-text">En este apartado se muestran las diferentes políticas y términos de uso de la
            página, de
            esta forma se advierte sobre los buenos comportamientos y usos de la plataforma.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal10">
            Ver imagen
          </button>
        </div>
        <div class="modal fade" id="exampleModal10" tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="row">
              <div>
                <img src="../../assets/imgs/Scketch/10.jpg" alt="..." class="P1Modal" />
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>