<footer class="bg-light text-center text-lg-start py-4">
    <div class="row aling-item-center">
      <div class="col-lg-6">
        <app-breadcrumb></app-breadcrumb>
      </div>
      <div class="col-lg-6">
        <p>Copyright © 2023 All rights reserved -- EDCC -- </p>
        <a  href="https://www.facebook.com/tic.utxj"><img src="../../../assets/Articulos/F1.png" height="30px" width="30px"></a>
        <a  href="https://www.instagram.com/edwin_donovan/"><img src="../../../assets/Articulos/I1.png" style="padding-left: 5px;" height="30px" width="35px"></a>
        <a  href="https://app.netlify.com/teams/edwin75206/overview"><img src="../../../assets/Articulos/N1.png" style="padding-left: 5px;" height="30px" width="35px"></a>
        <a  href="https://github.com/Edwin75206"><img src="../../../assets/Articulos/G1.png" style="padding-left: 5px;" height="30px" width="35px"></a>
      </div>
    </div>
  </footer>