
  <nav class="navbar navbar-expand-lg bg-dark " data-bs-theme="dark" >
    <div class="container-fluid ">
      <!-- Agrega una imagen -->


      <a class="navbar-brand" href="#">220622</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- UNIDAD 1-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Unidad 1
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-link disabled" aria-disabled="true" href="#">Introducción al Framwork de Angular</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica1" >Practica 01: Metodología de evaluación de la asignatura</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica2" >Practica 02: Primera aplicación en angular</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica03" >Practica 03: Integracion de bootstrap remoto en un proyecto de angular</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica04" >Practica 04: Integracion de bootstrap localmente en un proyecto de angular</a></li>


              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item nav-link disabled" aria-disabled="true" href="#">Databinding</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica05" >Practica 05: Interpolacion</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica6" >Practica 06: Property Binding</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica07" >Practica 07: Event Binding</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica08" >Practica 08: Two Way Data Binding</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item nav-link disabled" aria-disabled="true" href="#">Directivas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica09" >Practica 09: *ngFor</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica010" >Practica 10: *ngIf</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica011" >Practica 11: *ngStyle</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica012" >Practica 12: *ngClass</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica013" >Practica 13: *ngSwitch</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item nav-link disabled" aria-disabled="true" href="#">Apps Básicas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica014" >Practica 14: Piano</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica015" >Practica 15: Convertidor de Divisas</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica016" >Practica 16: Convertidor BMI</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/practica017" >Practica 17: Filtrado de articulos</a></li>
            </ul>

          </li>


          <!-- UNIDAD 2 -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Unidad 2
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-link disabled" aria-disabled="true" href="#">Aplicación con consumo de API Externa</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/practica018">Practica 18: Clima</a></li>
              <li><a class="dropdown-item" routerLink="/practica019">Practica 19: Noticias</a></li>
              <li><a class="dropdown-item nav-link disabled" aria-disabled="true" href="#">Aplicación con consumo de API Propia</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>


          <!---->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tarea Integradora
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="#" href="#">Documentación</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/sketches" href="#">Elementos gráficos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="#" href="#">Repositorio</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="#" href="#">Equipo desarrollador</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>


          <!--
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Datos</a>
          </li>-->

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 text-black bg-white outline-black " type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-black bg-white" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
