
    <!--Practica 11: *ngStyle-->

    <div class="container mt-4" >
      
      <div class="row">
        <div class="col-11">
        <h1>Lista de Estudiantes</h1>
      </div>
      <!--EVENT BINDING-->
      <div class="col-1">
        <button class="btn btn-primary ml-auto btn-sm" (click)="mostrarEstudiantes()">{{texto}}</button>
      </div>
        <table class="table" *ngIf="estudiantesVisibles">
          <thead>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Grado y Grupo</th>
            <th>Situación Academica</th>
          </thead>
          <tbody>
            <tr *ngFor="let Estudiantes of listaEstudiantes">
              <td>{{Estudiantes.matricula}}</td>
              <td>{{Estudiantes.nombre}}</td>
              <td>{{Estudiantes.carrera}}</td>  
              <!--INTERPOLACION-->
              <td>{{Estudiantes.gradoygrupo}}</td>
              <td [ngStyle]="{'color':Estudiantes.situacionacademica=='Regular'?
              'green':Estudiantes.situacionacademica=='Caso Critico'?'red':'gold', 'font-style'  
              : Estudiantes.situacionacademica=='Regular'?'Normal': 'italic'}">{{Estudiantes.situacionacademica}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos Importantes</h5>
          <p class="card-text">La directiva <strong>*ngStyle</strong> es la directiva que nos permite acceder a las propiedades
            visuales de los elementos del Sitio Web a traves de sus propiedades de Estilo <strong>(CSS)</strong>
             permitiendo una mejor señaletica, usabilidad, enfasis y experiencia de usuario de los usuarios.
          </p>  
          <a href="#" routerLink="/practica010"   class="card-link" >Practica anterior</a>
          <a href="#"  routerLink="/practica012" class="card-link" >Practica siguiente</a>
          
        </div>
      </div>
    </div>
    </div>


