
      <!--PRACTICA 06 Property builind-->
  
      <div class="container mt-4">
        
        <div class="row">
          <h1 [class]="textoCh"> <strong>{{saluda()}}</strong> </h1>  <!--Invocamos a metodo saluda
            para obtener un String
          -->
  
          <br>
          <h1>El resultado de las sumas de 5 + 8 es: <strong>{{sumaNumeros(5,8)}}</strong></h1><!--Inovocamos al metodo suma-->
  
          <br>
          <input type="text" class="form-control" [placeholder]="textoPlaceholder">
          <br>  <!--Texto HARDCODE...-->
          
        </div>
        <!--
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datos Importantes</h5>
              <p class="card-text">Para la <strong>Interpolación</strong> de Datos 
              debemos declarar las variables en el Código Funcional del Componente 
              <strong>(.js)</strong> y referenciarlo en el Código Estructural
              <strong>(.html)</strong> utilizando doble llave (curly bracers) 
              <strong>{{'{{'+'nombreVAriable'+'}}'}}</strong>.</p>
              <a href="#" class="card-link" >Practica anterior</a>
              <a href="#" class="card-link" >Practica siguiente</a>
              
            </div>
          </div>
        </div>-->
      </div>