
<div class="dropdown mt-5">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="../../../assets/Edwin.jpg" alt="" width="32" height="32" class="rounded-circle me-2" >
    <strong>Edwin Donovan Castañeda</strong>
</a>

<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
    <li><a href="#" class="dropdown-item">Universidad</a></li>
    <li><a href="#" class="dropdown-item">Proyecto Integrador</a></li>
    <li><a href="#" class="dropdown-item">Frameworks Web</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a href="#" class="dropdown-item">Sobre mi</a></li>
</ul>
</div><a href="#" class="d-flex align-items-center text-white text-decoration-none " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
<strong>Calderón</strong></a>